/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
 
:root {
  --accent: #1287D9
  --text-color: #1C1C1C 
  --bg-color: #fff;
  --border: #eaecef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #E2E2E2
        --text-color: #E2E2E2;
        --bg-color: #202020;
        --border: #404040;
    }
    .navbar {
      border-bottom: 1px solid var(--border);
    }
    .logo {
        filter: invert();
    }
    .search-box input {
      background: rgba(255, 255, 255, 0.04) url(/assets/img/search.83621669.svg) 0.6rem 0.5rem no-repeat !important
    }
    .custom-block.warning .custom-block-title {
      color darken(#ffe564, 20%)
    }

    .formulate-input .formulate-input-error {
      color: #ea3c3c !important;
    }
    select, input, textarea {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.04) !important;
      border: 1px solid rgba(255, 255, 255, 0.04) !important;
    }

    .theme-default-content code {
       background: rgba(120,120,120,0.15);
    }
}

.home .hero img {
  max-width: 450px !important;
}
body {
  background-color: var(--bg-color);
  //font-family: 'Fira Mono', monospace;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: var(--text-color);
}
.navbar {
  background-color: var(--bg-color);
}
.action-button, .formulate-input[data-classification=button] button {
  display: inline-block;
  font-size: 1rem !important;
  padding: 0.5rem 1.1rem !important;
  transition: all 0.08s linear;
  box-sizing: border-box;
  color: var(--accent) !important;
  text-transform: uppercase;
  font-family: 'Poppins', sans;
  border: 2px solid var(--accent) !important;
  border-radius: 0 !important;
  background: transparent !important;
  margin: 20px 0 0;
  letter-spacing: 0.09em;
  text-decoration: none;
  user-select: none;
}
.action-button:hover, .formulate-input[data-classification=button] button:hover {
  background: var(--accent) !important;
  color: var(--bg-color) !important;
  text-decoration: none !important;
}
.formulate-input[data-classification=button] button[disabled] {
  opacity: 0.3;
  background: none !important;
  color: var(--accent) !important;
  cursor: not-allowed;
}

pre {
  color: #fff;
}
br {
    clear: both;
}
p {
    font-size: 0.9rem;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
img {
    //transform: scale(0.7);
}
.custom-block.tip {
  display: flow-root;
}
.custom-block a {
    //font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .site-name {
    font-weight: 500;
    font-family: 'Poppins', sans;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-bottom: none;
}
h1 {
    font-size: 2.6rem;
    margin-left: -12px;
}
h2 {
    // margin-left: -10px;
    font-size: 1.9rem;
    margin-top: 0 !important;
}
h3 {
    margin-left: -2px;
}
h2, h3, .page-nav {
    // font-size: 1.9rem;
}
code {
    word-wrap: break-word;
    hyphens: auto;
}
.callout {
    border: 1px solid #ddd;
    border-left: 4px solid var(--accent);
    padding: 8px 16px;
    background: aliceblue;
    vertical-align: middle;
}

.left {
    float: left;
}
.right {
    float: right;
}

table {
  text-align: left;
  border: none;
}
th, td, tr {
  padding: 6px 48px 6px 8px;
  border: none;
}
th {
  border-bottom: 1px solid #555;
}
tr:nth-child(even) {background-color: rgba(0,0,0,0.02)
}

.icon.outbound {
  top: -5px !important;
}