/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans&family=Work+Sans&display=swap');

:root {
    --accent: #1287D9
}
body {
    //font-family: 'Fira Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #1C1C1C;
}
.action-button {
  display: inline-block;
  font-size: 1rem !important;
  padding: 0.5rem 1.1rem !important;
  transition: all 0.1s linear;
  box-sizing: border-box;
  color: var(--accent) !important;
  text-transform: uppercase;
  font-family: 'Fira Mono', monospace;
  border: 2px solid var(--accent) !important;
  border-radius: 0 !important;
  background: transparent !important;
  margin: 20px 0 0;
}
.action-button:hover {
  background: var(--accent) !important;
  color: #fff !important;
  text-decoration: none !important;
}
pre {
  color: #fff;
}
br {
    clear: both;
}
p {
    font-size: 0.9rem;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
img {
    //transform: scale(0.7);
}
.custom-block.tip {
  border-color: var(--accent);
  display: flow-root;
}
.custom-block a {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .site-name {
    font-weight: 400 !important;
    font-family: 'Fira Mono', monospace;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 1.9rem;
}
h2, h3, .page-nav {
    // font-size: 1.9rem;
}
code {
    word-wrap: break-word;
    hyphens: auto;
}
.callout {
    border: 1px solid #ddd;
    border-left: 4px solid var(--accent);
    padding: 8px 16px;
    background: aliceblue;
    vertical-align: middle;
}

.left {
    float: left;
}
.right {
    float: right;
}

table {
  text-align: left;
  border: none;
}
th, td, tr {
  padding: 6px 48px 6px 8px;
  border: none;
}
th {
  border-bottom: 1px solid #555;
}
tr:nth-child(even) {background-color: rgba(0,0,0,0.02)
}